<%include ../Extra/Partials/header.ejs%>

<div class="container">
    <br>
    <div class="container">
        <%Object.keys(userRows).forEach(function (t) { %>

        <label> <%=t%>: </label> <label><%=userRows[t]%></label>
        <br>
        <%})%>

    </div>

    <form action="/patients" method="post">
        <!--<div>-->
            <input type="hidden" name="patientId" value="<%=userRows['Patient ID']%>" readonly>
            <!--<label for="dateOfAdmission">Date of Admission:</label>-->
            <!--<input type="date" name="dateOfAdmission"  value="" readonly>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label for="fName">First Name:</label>-->
            <!--<input type="text "name="fName"  value="" readonly>-->
            <!--<label for="mName">Middle Name:</label>-->
            <!--<input type="text" name="mName"  value="" readonly>-->
            <!--<label for="lName">Last Name:</label>-->
            <!--<input type="text" name="lName"  value="" readonly>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label for="dateOfBirth">Date of Birth:</label>-->
            <!--<input type="date" name="dateOfBirth"  value="" readonly>-->
        <!--</div>-->

        <label for="personalInfo">Personal Information</label>
        <div>
            <label for="height">Height</label>
            <input type="text "name="height" value="">
            <label for="weight">Weight</label>
            <input type="text" name="weight" value="">
        </div>
        <div>
            <label for="symptopms">Sympotoms of the disease</label>
            1.<input type="text" name="symptopms" value="">
            2.<input type="text" name="symptopms" value="">
            3.<input type="text" name="symptopms" value="">
            <br>
            4.<input type="text" name="symptopms" value="">
            5.<input type="text" name="symptopms" value="">
            6.<input type="text" name="symptopms" value="">
        </div>

        <div>
            <label for="bloodPressure">Blood Pressure:</label>
            Lower <input type="text "name="bloodPressure" value="">
            Upper<input type="text" name="bloodPressure" value="">
        </div>
        <div>
            <label for="Breakfast">Breakfast</label>
            1.<input type="text" name="Breakfast" value="">
            2.<input type="text" name="Breakfast" value="">
            3.<input type="text" name="Breakfast" value="">
        </div>
        <div>
            <label for="Lunch">Lunch</label>
            1.<input type="text" name="Lunch" value="">
            2.<input type="text" name="Lunch" value="">
            3.<input type="text" name="Lunch" value="">
        </div>
        <div>
            <label for="Dinner">Dinner</label>
            1.<input type="text" name="Dinner" value="">
            2.<input type="text" name="Dinner" value="">
            3.<input type="text" name="Dinner" value="">
        </div>
        <div>
            <br>
            <label for="game">Game:</label>
            <br>
            <input type="checkbox" name="game" value="Football"> 1)Football
            <br>
            <input type="checkbox" name="game" value="Hokey"> 2)Hokey
            <br>
            <input type="checkbox" name="game" value="Volley Ball"> 3)Volley Ball
            <br>
            <input type="checkbox" name="game" value="Cricket"> 4)Cricket
            <br>
            <input type="checkbox" name="game" value="Chess"> 5)Chess
            <br>
            <input type="checkbox" name="game" value="All"> 6)All
            <br>
            <input type="checkbox" name="game" value="None"> 7)None
        </div>
        <label for="other">Other Info:</label>
        <textarea name="other" id="" cols="30" rows="10"></textarea>
        <div>
            <label for="disease">Disease Name</label>
            <input type="text" name="disease" value="">
        </div>

        <div>
            <label for="doctorId">Doctor Id</label>
            <input type="text" name="doctorId" value="">
        </div>

        <input type="submit" class="btn-success">
    </form>

</div>


<%include ../Extra/Partials/footer.ejs%>
