<%include ../Extra/Partials/header.ejs%>

<div class="container">
    <br>
    <form action="/patients/prescription" method="post">
        <!--
        <div>
            <label for="patientId">Patient ID:</label>
            <input type="number" name="patientId" value="" readonly>
            <label for="dateOfAdmission">Date of Admission:</label>
            <input type="date" name="dateOfAdmission"  value="" readonly>
        </div>
        <div>
            <label for="fName">First Name:</label>
            <input type="text "name="fName"  value="" readonly>
            <label for="mName">Middle Name:</label>
            <input type="text" name="mName"  value="" readonly>
            <label for="lName">Last Name:</label>
            <input type="text" name="lName"  value="" readonly>
        </div>
        <div>
            <label for="dateOfBirth">Date of Birth:</label>
            <input type="date" name="dateOfBirth"  value="" readonly>
        </div>
        -->
        <label for="medicineAdvice">Medicine Advice</label>
        <div>
            <table cellpadding="0" cellspacing="0">

                <tr>
                    <th><label for="adviceId">Advice Id</label><th>
                    <th><label for="medicineId">Medicine Id</label><th>
                    <th><label for="quantity">quantity</label></th>
                    <th><label for="times">Times In a day</label></th>
                    <th><label for="beforeAfter">Before/After</label></th>
                </tr>

                <% for(var i=0;i<5;i++){ %>
                <tr>
                    <% for(var j=0;j<5;j++){ %>
                        <td><input type="text" name=<%="a"+i%> value="j" ></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        </div>

        <div>
            <table cellpadding="0" cellspacing="0">
                <tr name="t1">
                    <th><label for="testName">Test Name</label><th>
                    <th><label for="testCategory">Test Category</label><th>
                </tr>

                <% for(var i=0;i<5;i++){ %>
                <tr name="t2">
                    <% for(var j=0;j<2;j++){ %>
                    <td><input type="text" name=<%="b"+i%> value="i" ></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        </div>



        <input type="submit" class="btn-success">
    </form>

</div>


<%include ../Extra/Partials/footer.ejs%>
